# /etc/systemd/system/rclone.service

[Unit]
Description=rclone Mount
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
User={{user}}
Group={{user}}
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/rclone mount --allow-non-empty --allow-other --max-read-ahead 2G --acd-upload-wait-per-gb=3m0s --acd-templink-threshold 9 --checkers 16 --transfers 2 --bwlimit 1000M --timeout 10m0s --ignore-existing --no-check-certificate --retries 5 --stats 0 --read-only --max-read-ahead 14G --acd-templink-threshold 0 --daemon cloud: /mnt/plexdrive/
ExecStop=/bin/fusermount -uz /mnt/plexdrive

[Install]
WantedBy=default.target